<div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <!-- Name  -->
        <div class="md:grid grid-cols-4 gap-2">
            <div class="col-span-2 ">
                <label for="">Name</label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="name">
                    <mat-icon matSuffix class="mat-18">person</mat-icon>
                    <mat-error *ngIf="form.get('name')?.errors">
                        <ng-container *ngIf="form.get('name')?.hasError('required')">
                            **Name is required
                        </ng-container>
                        <ng-container
                            *ngIf="!form.get('name')?.hasError('required') && form.get('name')?.hasError('empty')">
                            **Invalid name
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Email  -->
            <div class="col-span-2 ">
                <label for="">Email</label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="email">
                    <mat-icon matSuffix class="mat-18">email</mat-icon>
                    <mat-error *ngIf="form.get('email')?.errors">
                        <ng-container *ngIf="form.get('email')?.hasError('required')">
                            **Email is required
                        </ng-container>
                        <ng-container
                            *ngIf="!form.get('email')?.hasError('required') && form.get('email')?.hasError('email')">
                            **Invalid email address
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Mobile  -->

            <div class="col-span-2">
                <label for="">Phone</label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="phoneNumber">
                    <mat-icon matSuffix class="mat-18">phone</mat-icon>
                    <mat-error *ngIf="form.get('phoneNumber')?.errors">
                        <ng-container *ngIf="form.get('phoneNumber')?.hasError('required')">
                            **Phone number is required
                        </ng-container>
                        <ng-container
                            *ngIf="!form.get('phoneNumber')?.hasError('required') && form.get('phoneNumber')?.hasError('empty')">
                            **Invalid Phone number
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Address  -->
            <div class="col-span-2 ">
                <label for="">Address</label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="address">
                    <mat-icon matSuffix class="mat-18">badge</mat-icon>
                    <mat-error *ngIf="form.get('address')?.errors">
                        <ng-container *ngIf="form.get('address')?.hasError('required')">
                            **Address is required
                        </ng-container>
                        <ng-container
                            *ngIf="!form.get('address')?.hasError('required') && form.get('address')?.hasError('empty')">
                            **Invalid address
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="flex justify-end">
            <button *ngIf="fromAdd" mat-raised-button color="accent">Save
                <mat-icon class="mat-18">save</mat-icon>
            </button>

            <button *ngIf="fromEdit" mat-raised-button color="accent">Edit
                <mat-icon class="mat-18">edit</mat-icon>
            </button>
        </div>
    </form>
</div>